h1, h2 {  font-family: "Times New Roman", Times, serif;  color: #00008B
; text-align: center;}
h3 { font-family: Arial, Helvetica, sans-serif; color: #00008B; text-align: justify;} 
ul {color: #8B0000;}
p {color: #8B0000;}
body {background-color: #FDF5E6;}
h1, h2 { font-size: 35px; font-style: italic;}
h3 { font-style: italic;}
img {float: right;}
body { border-style: inset;
border-width: thin;}
h3 {text-decoration: underline;}
h3, ul, p { line-height: 1.8;}
body { background-image: linear-gradient(#FFE4C4, #FFFFF0); }
img {border-style: solid; 
border-width: thin; } 
h1, h2 {line-height: 0.5; }